body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* display: contents; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
}

.container {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0 auto; /* Center the container horizontally */
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center align the content horizontally */
    align-items: center; /* Center align the content vertically */
    width: 90%; /* Increase the width */
    max-width: 800px; /* Set a maximum width */
}

h1 {
    background-color: #df42ca;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: small;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 40%; /* Full width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageBox {
    background-color: #e1c1de;
    width: 40%; /* Reduced width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 50px;
}


form {
    padding: 20px;
    /* display: flex; */
    font-size: small;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
    font-size: small;
}

.input-group label {
    margin-bottom: 5px;
    display: block;
    color: #555555;
    font-size: small;
}

.input-group input,
.input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

select#girlfriendPersonality {
    width: calc(100%);
    height: 35px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    appearance: none;
    background-color: #ffffff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 10px;
    padding-right: 30px;
}


.message.girlfriend {
    background-color: #eeabef;
    align-self: flex-start;
    font-size: small;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message.user {
    background-color: #dae889;
    align-self: flex-end;
    text-align: right;
    font-size: small;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message {
    max-width: 75%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: small;
}

.typing-animation {
    display: flex;
    align-items: center;
}

.typing-indicator {
    width: 6px;
    height: 6px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.message-container {
    height: 300px; /* Set the height of the message container */
    overflow-y: auto; /* Add a vertical scrollbar when needed */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items in the center vertically */
    align-items: center; /* Align items in the center horizontally */
    font-size: small;
    margin: 0 auto 10px; /* Center horizontally with auto margins, add bottom margin */
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ccc;
    width: 70%;
    height: 400px;
}


.input-group.message-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items in the center vertically */
    width: 70%; /* Set width to 70% */
    margin: 0 auto; /* Center horizontally with auto margins */
    margin-bottom: 50px;
}


.input-group.message-input-group input[type="text"] {
    width: calc(100% - 50px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group.message-input-group button[type="submit"] {
    width: 45px;
    height: 35px;
    background-color: #e60e93;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    margin-left: 10px;
}

.input-group.message-input-group button[type="submit"]:hover {
    background-color: #128C7E;
}

.input-group.message-input-group img {
    width: 25px;
    height: 20px;
    position: relative;
}

#scrollToBottomBtn {
    /* position: fixed;
    bottom: 20px;
    right: 20px; */
    padding: 10px 20px;
    background-color: #f627bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: small;
    width: 100%;
}

#scrollToBottomBtn:hover {
    background-color: #0056b3;
}
